In [41]:
import requests
import json
import pandas as pd

In [42]:
id = 420100
type = 'move_out'

In [43]:
url = 'http://huiyan.baidu.com/migration/historycurve.jsonp?dt=city&id={id}&type={type}'.format(id = id,type=type)

In [44]:
#get response as string
file = requests.get(url)

In [45]:
file.text

'cb({"errno":0,"errmsg":"SUCCESS","data":{"list":{"20190112":5.0520672,"20190113":4.0588128,"20190114":4.0048344,"20190115":3.7246716,"20190116":3.990384,"20190117":4.2154992,"20190118":4.4281404,"20190119":5.2943544,"20190120":4.5848268,"20190121":4.5717696,"20190122":4.6891548,"20190123":4.8062484,"20190124":4.8605184,"20190125":5.6628396,"20190126":7.043598,"20190127":6.4897524,"20190128":6.770628,"20190129":7.0281756,"20190130":7.1071668,"20190131":7.4799612,"20190201":8.7140124,"20190202":9.604332,"20190203":9.2246688,"20190204":7.3813356,"20190205":5.5432188,"20190206":6.5359224,"20190207":5.6417148,"20190208":4.7044152,"20190209":4.2702228,"20190210":3.7155024,"20190211":3.5002044,"20190212":3.2788152,"20190213":3.4030692,"20190214":3.368466,"20190215":3.4485264,"20190216":3.9908376,"20190217":3.5591724,"20190218":4.090176,"20190219":3.7104804,"20190220":2.97918,"20190221":2.9042712,"20190222":3.0486132,"20190223":3.8984328,"20190224":3.7769652,"20190225":3.3372324,"20190226":3.0736908,"20190227":3.2840964,"20190228":4.323618,"20190301":3.6168768,"20190302":4.2287832,"20190303":3.4576956,"20190304":3.8100456,"20190305":3.3020136,"20190306":3.2068224,"20190307":3.3307848,"20190308":3.8843064,"20190309":4.7331216,"20190310":3.8916612,"20190311":4.0662,"20190312":3.4735068,"20190313":3.3584868,"20200101":3.455298,"20200102":3.5246016,"20200103":5.5244268,"20200104":6.0998184,"20200105":5.3224776,"20200106":5.5981368,"20200107":6.4050264,"20200108":7.3430712,"20200109":8.1436104,"20200110":6.6232404,"20200111":7.561188,"20200112":6.2165232,"20200113":5.7620484,"20200114":5.4578124,"20200115":5.9086584,"20200116":6.0027804,"20200117":6.4428372,"20200118":7.7131764,"20200119":7.4059596,"20200120":8.3070036,"20200121":10.7367444,"20200122":11.8403208,"20200123":11.1386988,"20200124":3.8936376,"20200125":1.2966804,"20200126":0.6610572,"20200127":0.4302396,"20200128":0.3196908,"20200129":0.2616624,"20200130":0.2436804,"20200131":0.2375892,"20200201":0.2353212,"20200202":0.4614732,"20200203":0.2121552,"20200204":0.2334096,"20200205":0.2751408,"20200206":0.2769876,"20200207":0.2719656,"20200208":0.2824632,"20200209":0.287874,"20200210":0.2748492,"20200211":0.2697948,"20200212":0.2855412,"20200213":0.305532,"20200214":0.313632,"20200215":0.3047544,"20200216":0.2887812,"20200217":0.2801952,"20200218":0.2579688,"20200219":0.2527848,"20200220":0.26163,"20200221":0.2588112,"20200222":0.252396,"20200223":0.252558,"20200224":0.2590056}}})'

In [46]:
#read data from file 
data = json.loads(file.text.split('(')[1][:-1])

In [47]:
dict = data['data']['list']

In [48]:
dict

{'20190112': 5.0520672,
 '20190113': 4.0588128,
 '20190114': 4.0048344,
 '20190115': 3.7246716,
 '20190116': 3.990384,
 '20190117': 4.2154992,
 '20190118': 4.4281404,
 '20190119': 5.2943544,
 '20190120': 4.5848268,
 '20190121': 4.5717696,
 '20190122': 4.6891548,
 '20190123': 4.8062484,
 '20190124': 4.8605184,
 '20190125': 5.6628396,
 '20190126': 7.043598,
 '20190127': 6.4897524,
 '20190128': 6.770628,
 '20190129': 7.0281756,
 '20190130': 7.1071668,
 '20190131': 7.4799612,
 '20190201': 8.7140124,
 '20190202': 9.604332,
 '20190203': 9.2246688,
 '20190204': 7.3813356,
 '20190205': 5.5432188,
 '20190206': 6.5359224,
 '20190207': 5.6417148,
 '20190208': 4.7044152,
 '20190209': 4.2702228,
 '20190210': 3.7155024,
 '20190211': 3.5002044,
 '20190212': 3.2788152,
 '20190213': 3.4030692,
 '20190214': 3.368466,
 '20190215': 3.4485264,
 '20190216': 3.9908376,
 '20190217': 3.5591724,
 '20190218': 4.090176,
 '20190219': 3.7104804,
 '20190220': 2.97918,
 '20190221': 2.9042712,
 '20190222': 3.0486132,
 '20190223': 3.8984328,
 '20190224': 3.7769652,
 '20190225': 3.3372324,
 '20190226': 3.0736908,
 '20190227': 3.2840964,
 '20190228': 4.323618,
 '20190301': 3.6168768,
 '20190302': 4.2287832,
 '20190303': 3.4576956,
 '20190304': 3.8100456,
 '20190305': 3.3020136,
 '20190306': 3.2068224,
 '20190307': 3.3307848,
 '20190308': 3.8843064,
 '20190309': 4.7331216,
 '20190310': 3.8916612,
 '20190311': 4.0662,
 '20190312': 3.4735068,
 '20190313': 3.3584868,
 '20200101': 3.455298,
 '20200102': 3.5246016,
 '20200103': 5.5244268,
 '20200104': 6.0998184,
 '20200105': 5.3224776,
 '20200106': 5.5981368,
 '20200107': 6.4050264,
 '20200108': 7.3430712,
 '20200109': 8.1436104,
 '20200110': 6.6232404,
 '20200111': 7.561188,
 '20200112': 6.2165232,
 '20200113': 5.7620484,
 '20200114': 5.4578124,
 '20200115': 5.9086584,
 '20200116': 6.0027804,
 '20200117': 6.4428372,
 '20200118': 7.7131764,
 '20200119': 7.4059596,
 '20200120': 8.3070036,
 '20200121': 10.7367444,
 '20200122': 11.8403208,
 '20200123': 11.1386988,
 '20200124': 3.8936376,
 '20200125': 1.2966804,
 '20200126': 0.6610572,
 '20200127': 0.4302396,
 '20200128': 0.3196908,
 '20200129': 0.2616624,
 '20200130': 0.2436804,
 '20200131': 0.2375892,
 '20200201': 0.2353212,
 '20200202': 0.4614732,
 '20200203': 0.2121552,
 '20200204': 0.2334096,
 '20200205': 0.2751408,
 '20200206': 0.2769876,
 '20200207': 0.2719656,
 '20200208': 0.2824632,
 '20200209': 0.287874,
 '20200210': 0.2748492,
 '20200211': 0.2697948,
 '20200212': 0.2855412,
 '20200213': 0.305532,
 '20200214': 0.313632,
 '20200215': 0.3047544,
 '20200216': 0.2887812,
 '20200217': 0.2801952,
 '20200218': 0.2579688,
 '20200219': 0.2527848,
 '20200220': 0.26163,
 '20200221': 0.2588112,
 '20200222': 0.252396,
 '20200223': 0.252558,
 '20200224': 0.2590056}

In [49]:
col = str(id) + '_' + type + '_index'

In [50]:
df = pd.DataFrame(dict,index=[0])

In [51]:
df_2019 = df.iloc[:,0:61]
df_2020 = df.iloc[:,61:]

In [52]:
df.head()

,20190112,20190113,20190114,20190115,20190116,20190117,20190118,20190119,20190120,20190121,...,20200215,20200216,20200217,20200218,20200219,20200220,20200221,20200222,20200223,20200224
0,5.052067,4.058813,4.004834,3.724672,3.990384,4.215499,4.42814,5.294354,4.584827,4.57177,...,0.304754,0.288781,0.280195,0.257969,0.252785,0.26163,0.258811,0.252396,0.252558,0.259006

In [53]:
df_2020.head()

,20200101,20200102,20200103,20200104,20200105,20200106,20200107,20200108,20200109,20200110,...,20200215,20200216,20200217,20200218,20200219,20200220,20200221,20200222,20200223,20200224
0,3.455298,3.524602,5.524427,6.099818,5.322478,5.598137,6.405026,7.343071,8.14361,6.62324,...,0.304754,0.288781,0.280195,0.257969,0.252785,0.26163,0.258811,0.252396,0.252558,0.259006

In [54]:
df_2019.tail()

,20190112,20190113,20190114,20190115,20190116,20190117,20190118,20190119,20190120,20190121,...,20190304,20190305,20190306,20190307,20190308,20190309,20190310,20190311,20190312,20190313
0,5.052067,4.058813,4.004834,3.724672,3.990384,4.215499,4.42814,5.294354,4.584827,4.57177,...,3.810046,3.302014,3.206822,3.330785,3.884306,4.733122,3.891661,4.0662,3.473507,3.358487

In [55]:
out_2019 = col + '_2019.csv'
out_2020 = col + '_2020.csv'

In [56]:
df_2019.to_csv(out_2019)
df_2020.to_csv(out_2020)