In [9]:
import requests
import json
import pandas as pd

In [10]:
rank = 'provincerank' #['provincerank','cityrank']
id = 420100
type = 'move_out'  #['move_out','move_in']

In [11]:
#get data from 20200101-20200124
for i in range(1,25):
    date=20200100+i
    url = 'http://huiyan.baidu.com/migration/{rank}.jsonp?dt=city&id={id}&type={type}&date={date}'.format(id=id,rank=rank,type=type,date=date)
    #get response as string 
    file = requests.get(url)
    #read data from file 
    data = json.loads(file.text.split('(')[1][:-1])
    dict = data['data']['list']
    df_ = pd.DataFrame(dict)
    if 'city' in rank:
        df_.drop('province_name',axis=1,inplace=True)
    df_.columns=['rank',date]
    df_[date] = df_[date].apply(lambda num : num / 100)
    if i > 1:
        df = pd.merge(df,df_, how = 'outer', on = 'rank')
    else:
        df = df_

In [12]:
df.head()

,rank,20200101,20200102,20200103,20200104,20200105,20200106,20200107,20200108,20200109,...,20200115,20200116,20200117,20200118,20200119,20200120,20200121,20200122,20200123,20200124
0,湖北省,72.23,61.33,67.24,67.74,62.99,62.33,62.13,61.38,61.52,...,66.20,65.75,66.96,69.96,69.50,70.67,71.84,74.77,76.57,72.46
1,河南省,4.13,4.93,4.55,4.40,4.82,4.85,5.00,5.03,5.31,...,6.03,6.46,6.37,5.60,5.86,6.22,6.18,5.67,5.32,4.98
2,湖南省,3.09,3.74,3.73,3.25,3.45,3.64,3.76,3.77,3.61,...,3.57,3.63,3.59,3.75,3.43,3.36,3.40,3.24,3.07,3.12
3,广东省,2.61,3.76,2.99,2.76,3.48,3.11,2.95,2.92,2.77,...,1.93,1.95,1.85,1.62,1.77,1.66,1.69,1.56,1.55,2.90
4,安徽省,1.94,2.58,2.26,2.14,2.30,2.28,2.33,2.42,2.44,...,2.53,2.43,2.52,2.41,2.27,2.27,2.27,2.10,1.92,1.97

In [13]:
out = rank + '_' + type +'.csv'
df.to_csv(out)